#2Calendar
2Calendar/*.iml
2Calendar/.gradle
2Calendar/local.properties
2Calendar/.idea/caches
2Calendar/.idea/libraries
2Calendar/.idea/modules.xml
2Calendar/.idea/workspace.xml
2Calendar/.idea/navEditor.xml
2Calendar/.idea/assetWizardSettings.xml
2Calendar/.DS_Store
2Calendar/build
2Calendar/captures
2Calendar/.externalNativeBuild
#Calc
Calc/*.iml
Calc/.gradle
Calc/local.properties
Calc/.idea/caches
Calc/.idea/libraries
Calc/.idea/modules.xml
Calc/.idea/workspace.xml
Calc/.idea/navEditor.xml
Calc/.idea/assetWizardSettings.xml
Calc/.DS_Store
Calc/build
Calc/captures
Calc/.externalNativeBuild
#Sapper
Sapper/*.iml
Sapper/.gradle
Sapper/local.properties
Sapper/.idea/caches
Sapper/.idea/libraries
Sapper/.idea/modules.xml
Sapper/.idea/workspace.xml
Sapper/.idea/navEditor.xml
Sapper/.idea/assetWizardSettings.xml
Sapper/.DS_Store
Sapper/build
Sapper/captures
Sapper/.externalNativeBuild
#Service
Service/*.iml
Service/.gradle
Service/local.properties
Service/.idea/caches
Service/.idea/libraries
Service/.idea/modules.xml
Service/.idea/workspace.xml
Service/.idea/navEditor.xml
Service/.idea/assetWizardSettings.xml
Service/.DS_Store
Service/build
Service/captures
Service/.externalNativeBuild
